*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;

}
.w-100{
    height: 40vw;
}
.button{
    display: none;
}

.icon{
    background-color: whitesmoke;
    color: rgb(243, 36, 71);
    font-size: 1.1rem;
    padding: 12px 14px;
    border-radius: 5vw;
    margin-top: 0.3vw;
    margin-left: 1.5vw;
    float: left;
}
.nav-top{
    height: 4vw;
}
.circle{
    width: 3.8rem;
    height: 3.7rem;
}
.circle-o{
    width: 15vw;
    height: 15vw;
}
.circle-o1{
    width: 13.8vw;
    height: 13.7vw;

}

/* =================main=============== */
.container-main{
    width: 100%;
}
.container-left{
    width: 17%;
    height: 42.4vw;
}
/* ========2nd========== */


/* ============3rd============== */
hr{
    width: 80vw;

}
@media (max-width:768px){
    .button{
        display: block;
    }
    .icon{
        padding: 10px 12px;
       
    }
    .nav-top{
        height: 16vw;
    }
    .offcanvas.show {
        width: 61%;
    }
    .coll{
        margin-left: -8vw;
    }
    .card-b{
        width: 90vw;
        margin-top: 2vw;
    }
    .prog{
        margin-left: 3vw !important;
    }
    .prog-1{
        display: block !important;
    }
    .circle{
        width: 16vw;
        height: 16vw;
    }
    .circle-o{
        width: 66vw;
        height: 65vw;
    }
    .circle-o1{
        width: 60.8vw;
        height: 59.7vw;
    
    }
    /* ====================main============ */
    .container-right{
        width: 96%;
    }
    .container-left{
        display: none;
    }
    /* ==========2nd=========== */
    .chat{
        width: 300vw;
       
    }
    .head-paira{
        margin-left: 14vw !important;
        font-size: 2rem !important;
    }
    .chat-10{
        height: 226vw;
        overflow: scroll !important;
    }
    .page-btn{
        float: none !important;
        margin-top: 1rem;
        margin-left: 0rem !important;
    }
    .w1-50{
        display: block !important;
        width: 92% !important;
    }
    .sel{
        margin-top: 3vw;
    }
    .p1{
        margin-left: 6vw;
    }
    /* ===========3rd========== */
    .row-1{
        display: block;
    }
    hr{
        width: 95vw;
    }
}