*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;

}
.w-100{
    height: 40vw;
}
.button{
    display: none;
}

.icon{
    background-color: whitesmoke;
    color: rgb(243, 36, 71);
    font-size: 1.1rem;
    padding: 12px 14px;
    border-radius: 5vw;
    margin-top: 0.3vw;
    margin-left: 1.5vw;
    float: left;
}
.nav-top{
    height: 4vw;
}
/* circle */

.card-shawdo{
    box-shadow: 0px 10px 0px black;
}
.circle-1{
    width: 4vw;
    height: 4vw;
    border:  7px solid whitesmoke;
    border-bottom-color: red;
    border-top-color: red;
      border-right-color: red;
    
}
.circle-2{
    width: 4vw;
    height: 4vw;
    border:  7px solid whitesmoke;
    border-bottom-color: red;
      border-right-color: red;
}
.circle-3{
    width: 4vw;
    height: 4vw;
    border:  7px solid whitesmoke;
    border-bottom-color: red;
    
    
}
.big-circle-1{
    width: 18vw;
    height: 18vw;
    border: 12px solid wheat;
    border-bottom-color: greenyellow;
    border-top-color: rgb(189, 23, 51);
    border-left-color: red;
    border-right-color: blue;
}
.big-circle-2{
    width: 15.9vw;
    height: 15.9vw;
    border: 6px solid rgb(231, 223, 207);
}
.big-circle-num{
    position: absolute;
    margin-left: 5vw;
    margin-top: 5.5vw !important;
}
.big-circle-text{
    margin-left: -1vw;
}
.btn-2{
    width: 2vw;
    height: 2vw;
    background-color: red;
}
.btn-22{
    width: 2vw;
    height: 2vw;
    background-color: greenyellow;
}
.btn-23{
    width: 2vw;
    height: 2vw;
    background-color: rgb(197, 88, 88);
}
.btn-24{
    width: 2vw;
    height: 2vw;
    background-color: rgb(104, 43, 43);
}
.card-b{
    border-radius: 1vw;
}
.apporval{
    position: absolute;
    margin-top: -2vw !important;
    margin-left: 3vw;
}
.cal-body{
    width: 32vw;
    border-radius: 1vw;
}
.number{
    margin-left: 3vw;
}
.card-num{
    margin-left: -2vw;
}

/* =================main=============== */
.container-main{
    width: 100%;
}
.container-left{
    width: 17%;
    height: auto;
}
/* ========2nd========== */
.chat{
    background-color: rgb(238, 202, 202);
}

/* ============3rd============== */
hr{
    width: 80vw;

}
@media (max-width:768px){
    .button{
        display: block;
    }
    .icon{
        padding: 10px 12px;
       
    }
    .nav-top{
        height: 16vw;
    }
    .offcanvas.show {
        width: 61%;
    }
    /* card */
    .main{
        display: block !important;
    }
    .main-1{
        display: block !important;
        width: 100vw;
    }
    .circle-box{
        display: block !important;
    }
    .circle-1{
        width: 14vw;
        height: 14vw;
    }
    .circle-2{
        width: 14vw;
        height: 14vw;
    }
    .circle-3{
        width: 14vw;
        height: 14vw;
    }
    .sub{
        margin-left: 0vw !important;
    }
    .sub-1{
        margin-left: -4vw !important;
    }
    .big-circle-1{
        width: 63vw;
        height: 63vw;
        margin-left: 5vw;
    }
    .big-circle-2{
        width: 53.9vw;
        height: 53.9vw;
    }
    .big-circle-num{
        margin-left: 18vw;
        margin-top: 17vw !important;
    }
    .big-circle-text{
        margin-left: -7vw;
    }
    .btn-2{
        width: 6vw;
        height: 6vw;
    }
    .btn-22{
        width: 6vw;
        height: 6vw;
    }
    .btn-23{
        width: 6vw;
        height: 6vw;
    }
    .btn-24{
        width: 6vw;
        height: 6vw;
    }
    .apporval{
        margin-left: 9vw;
        margin-top: -6.3vw !important;
    }
    .cal-body{
        width: 90vw;
        margin-top: 5vw;
        margin-left: -2vw;
    }
    .number{
        margin-left: 8vw;
    }
    .card-num{
        margin-left: -12vw;
    }
    /* ====================main============ */
    .container-right{
        width: 96%;
    }
    .container-left{
        display: none;
    }
    /* ==========2nd=========== */
    .chat{
        width: 300vw;
       
    }
    .head-paira{
        margin-left: 14vw !important;
        font-size: 2rem !important;
    }
    .chat-10{
        height: 226vw;
        overflow: scroll !important;
    }
    .head-text{
        margin-top: 2vw;
        margin-left: -5vw;
    }
    .head-text-1{
        margin-left: 8vw !important;
    }
    .head-text-2{
        margin-left: 7vw !important;
    }
    .page-btn{
        float: none !important;
        margin-top: 1rem;
        margin-left: 0rem !important;
    }
    .w1-50{
        display: block !important;
        width: 92% !important;
    }
    .sel{
        margin-top: 3vw;
    }
    .p1{
        margin-left: 6vw;
    }
    /* ===========3rd========== */
    .row-1{
        display: block;
    }
    hr{
        width: 95vw;
    }
    .save{
        margin-left: 31vw !important;
    }
}